@import "tailwindcss";

.login {
  box-shadow: 0px -13px 400px 200px rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: 0px -13px 400px 200px rgba(255, 255, 255, 0.28);
  -moz-box-shadow: 0px -13px 400px 200px rgba(255, 255, 255, 0.28);
}

.shadoww {
  box-shadow: 27px 32px 25px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 27px 32px 25px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 27px 32px 25px 1px rgba(0, 0, 0, 0.75);
}

.shadow-dalam {
  box-shadow: 0px 1px 40px 16px rgba(199, 199, 199, 0.75) inset;
  -webkit-box-shadow: 0px 1px 40px 16px rgba(199, 199, 199, 0.75) inset;
  -moz-box-shadow: 0px 1px 40px 16px rgba(199, 199, 199, 0.75) inset;
}

.h1login {
  color: black;

  font-size: 30px;
  font-weight: 1000;
}

.dashboard {
  background: #072a2b;
  background: linear-gradient(
    90deg,
    rgba(7, 42, 43, 1) 11%,
    rgba(17, 69, 37, 1) 33%,
    rgba(5, 89, 39, 1) 49%,
    rgba(18, 61, 36, 1) 73%,
    rgba(7, 42, 43, 1) 91%
  );
}

.navbar {
  background: #080808;
  background: linear-gradient(
    181deg,
    rgba(8, 8, 8, 1) 2%,
    rgba(0, 31, 31, 0.93) 39%,
    rgba(7, 42, 43, 1) 97%
  );

  border-bottom: 2px solid #9b9b9b;
}

@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

.dsds {
  font-family: "Zilla Slab", sans-serif;
  width: 100%;
  height: 100%;
}
.dsds text {
  animation: stroke 3s infinite alternate;
  stroke-width: 2;
  stroke: #0b6b65;
  font-size: 101px;
}
@keyframes stroke {
  0% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(11, 107, 101, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(11, 107, 101, 1);
  }
  80% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(11, 107, 101, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(11, 107, 101, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: #ededed;
}
